@model User

<ul>
    <li>Id : @Model.Id</li>
    <li>Username : @Model.Username</li>
    <li>Nickname : @Model.Nickname</li>
    <li>Password : @Model.Password</li>
    <li>Picture : @Model.Pfp</li>
</ul>