@model User

@{
    ViewData["Title"] = "Details";
}
<div class="formBox">
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>NickName</th>
        <th>Password</th>
        <th>Picture</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Username</td>
        <td>@Model.Nickname</td>
        <td>@Model.Password</td>
        <td>@Model.Pfp</td>
    </tr>
    </tbody>
</table>
</div>