@model List<User>

<a asp-action="Login" class="btn btn-primary">Logout</a>
<a asp-action="Signup" class="btn btn-primary">Signup</a>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>NickName</th>
        <th>Password</th>
        <th>Picture</th>
        <th>Details</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Nickname</td>
                <td>@user.Password</td>
                <td>@user.Pfp</td>
                <td><a asp-action="Details" asp-route-id="@user.Id" class="btn btn-primary">Details</a></td>
            </tr>
        }
    </tbody>
</table>
